.container__body__input>select{
    border: 0.7px solid rgba(170, 170, 170, 0.493);
    height: 4vh;
    width: 104.5%;
    border-radius: 2px;
    outline: none;
    padding:0 10px;
    appearance: none
    
   
}