@import url(./index.css);

.container__body{
    width: 49%;
    max-width: 49%;
}
.container__body__input_select{
border: 0.7px solid rgba(170, 170, 170, 0.493);
height: 4vh;
width: 100%;
border-radius: 2px;
outline: none;
padding:0 10px;
display: grid;
grid-template-columns: 20% 20% 60%;
justify-content: space-between;
align-items: center;
}
.container__body__input_select>select{
    padding: 0 10px;
    font-weight: 600;
    color: rgba(5, 168, 255, 0.857);

    height: 70%;
    border: none;
    appearance: none;
    outline: none;
    border-left: 1px solid rgba(164, 164, 164, 0.366);
}
.container__body__input_select>select:nth-child(1){
    border: none;
}
.container__body__input_select>select::-webkit-scrollbar{
    width: 0.2vh;
}
.container__body__input_select>select::-webkit-scrollbar-thumb{
    background: blue;
}

.container__body__input:nth-child(7){
    display: grid;
 
    grid-template-columns: auto auto;
    grid-template-areas: "aa aa bb"
                           "cc cc cc";
    justify-content: center;
   
  
    align-items: center;
    gap: 2vh;

}
.container__body__input:nth-child(7)>input{
    background: green;
    color: green;
    grid-area: aa;
    

    
}
.container__body__input:nth-child(7)>button{
    font-weight: 600;
    background: blue;
    color: #fff;
    outline: none;
    border: none;
    width: 30%;
    height: 5vh;
    border-radius:100px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: cc;
}
